h1{
	color: white;
	background-color: coral;
	font-size: 100px;
	display: inline;
}

h2{
	color: white;
}

img{
	height	: 100%;
}

#2{
	float: right;
}

ul{
	width: 100px;
	display: flex;
}

body{
	background-color: coral;
}